:root {
  --theme_color: #008333;
  --theme_color2: #00631a;
}

.my_belief_section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 10%;
  background-image: url(../../../../Assets/Home/RashmiStanding.jpeg);
  background-size: cover;
}

.my_belief_data_container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.my_belief_data_container p{
  font-family: "Nunito Sans", Arial, sans-serif;
  font-size: 1.3rem;
  font-weight: 300;
  text-align: center;
}

.my_belief_quote {
  width: 65px;
}

.my_belief_signature {
  width: 100px;
}