:root {
  --theme_color: #055799;
  --theme_color2: #003a69;
}


.get_in_touch_section {
  width: 100%;
  padding: 0 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin: 5rem 0;
}

/* Left part Design  */

.get_in_touch_left h1{
  font-family: "Roboto", sans-serif;
  font-size: 4rem;
  font-weight: 200;
  margin-bottom: 1rem;
}

.gitl_span {
  font-weight: 700;
  color: var(--theme_color);
}

.get_in_touch_left p {
  font-family: "Nunito Sans", Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 2rem;
}

.contact_form {
  margin: 2rem 0;
}

.contact_input_label {
  font-family: "Nunito Sans", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  display: block;
  margin-bottom: 0.4rem;
}

.contact_input {
  width: 90%;
  display: block;
  margin-bottom: 1.2rem;
  padding: 0.5rem;
  font-size: 1.1rem;
  outline: none;
  font-weight: 300;
  border: 1px solid #00000042;
}

.contact_input_btn {
  font-size: 1rem;
  font-family: "Nunito Sans", Arial, sans-serif;
  padding: 0.7rem 1.2rem;
  border: none;
  cursor: pointer;
}


/* Right part Design */
.get_in_touch_right {
  display: flex;
  gap: 1rem;
}

.contact_card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.contact_card_icon ion-icon {
  font-size: 2rem;
  border: 2px solid var(--theme_color);
  color: var(--theme_color);
  padding: 1.5rem;
  border-radius: 999px;
  margin-bottom: 0.5rem;
}

.contact_card h4 {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
}

.contact_card_design {
  background-color: var(--theme_color);
  width: 20px;
  height: 1.5px;
}

.contact_card p {
  text-align: center;
  font-family: "Nunito Sans", Arial, sans-serif;
  font-size: 0.9rem;
  font-weight: 300;
}