:root {
  --theme_color: #055799;
  --theme_color2: #003a69;
}

.corporate_programs_section {
  width: 100%;
  padding: 0 10%;
  margin: 4rem 0;
}

.corporate_programs_section_title {
  font-family: "Roboto", sans-serif;
  font-size: 3.5rem;
  font-weight: 200;
  margin-bottom: 2rem;
}

.horizontal_line_design {
  width: 60px;
  height: 2px;
  background-color: var(--theme_color);
}

/* Card Styles  */
.corporate_cards_container {
  width: 100%;
  display: flex;  
  gap: 1rem;
}

.corporate_card {
  width: 100%;
  height: 420px;
  background-color: #ededed;
  padding: 0 1.8rem;
}

.corporate_card_head {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem;
  place-content: center;
  align-items: center;
  margin: 1.5rem 0;
}

.corporate_card_head h3 {
  font-size: 0.8rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.corporate_card_head_design {
  height: 1px;
  background-color: #00000042;
}

.corporate_card_title {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

.corporate_card_desc {
  font-family: "Nunito Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
}